# Tag 2 - Übung 2

In [ ]:
import pandas as pd

**Aufgabe 1:** Laden Sie die csv Datei sdf_ger.csv und speichern Sie diese in `sdf`. Schauen Sie sich die ersten 7 Zeilen an.

**Aufgabe 2:** Berechnen Sie den Mittelwert der Variable v2x_partipdem zwischen 1900 und 1950 und zwischen 1990 und 2018. Wie groß ist die Differenz dieser beiden Werte?

**Aufgabe 3:** Wählen Sie mit `.iloc` die Zeile für Jahr 1968 aus sdf aus.

**Aufgabe 4:** Wählen Sie die 5. bis 30. Zeile in sdf aus und speicher Sie diese Daten in sub_sdf. Schauen Sie sich den Index an. Reseten Sie den index.

**Aufgabe 5**: Erstellen Sie eine neue Spalte in sub_sdf mit dem Namen 'delibdem_egaldem'. In dieser Spalte soll die (Zeilen) Summe von delibdem und egaldem stehen.

**Aufgabe 6:** Berechnen Sie den Mittelwert von v2x_libdem für jedes Land ab 2000. Verwenden Sie dabei die `.groupby()` und `.mean()` Methode. Speichern Sie das Ergebnis in `libdem_2000`. 

- Lassen Sie sich die ersten 12 Elemente anzeigen. 
- Welchen Typ hat dieses Objekt? 
- Wie sieht der index dieses Objekts aus?

**Aufgabe 7:** Welchen Wert hat Bangladesh in libdem_2000?

**Aufgabe 8** Welches Land hat den geringsten Wert in libdem2000?

**Aufgabe 8:** Wie können wir libdem_2000 in eine DataFrame umwandeln?

**Aufgabe 9**: Gruppieren Sie df nach Ländern und berechnen Sie min, max, std und mean für v2x_polyarchy.

**Aufgabe 10:** Filtern Sie alle Zeilen in df, die ein nan in v2x_partipdem haben. Welches Land hat die meisten Missings?