# Tag 2 - Übung 3

In [2]:
import pandas as pd

In [41]:
tweets_df = pd.read_csv('../data/tweets.csv', low_memory=False)

In [42]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736552 entries, 0 to 736551
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  736552 non-null  object
 1   author              736552 non-null  object
 2   content             736552 non-null  object
 3   region              734245 non-null  object
 4   language            736552 non-null  object
 5   publish_date        736552 non-null  object
 6   harvested_date      736552 non-null  object
 7   following           736552 non-null  int64
 8   followers           736552 non-null  int64
 9   updates             736552 non-null  int64
 10  post_type           324356 non-null  object
 11  account_type        736552 non-null  object
 12  retweet             736552 non-null  int64
 13  account_category    736552 non-null  object
 14  new_june_2018       736552 non-null  int64
 15  alt_external_id     736552 non-null  object
 16  tweet_id            736552 non-null  int64
 17  article_url         736552 non-null  object
 18  tco1_step1          525962 non-null  object
 19  tco2_step1          178172 non-null  object
 20  tco3_step1          3682 non-null    object
dtypes: int64(6), object(15)
memory usage: 118.0+ MB

**Aufgabe 1:** Welcher Autor hat die meisten Tweets abgesendet?

In [43]:
tweets_df.groupby('author').size().sort_values(ascending=False)

author
EXQUOTE            14872
SCREAMYMONKEY      11003
WORLDNEWSPOLI       8813
AMELIEBALDWIN       8744
TODAYPITTSBURGH     8382
                   ...
MARKOSVINES            1
CLAUDIXX59             1
MARLA_XTIAN            1
TOGANSHIN              1
VICTORIAMAX45          1
Length: 2741, dtype: int64

**Aufgabe 2:** Verwandeln Sie `publish_date` und `harvest_date` in eine Datumsvariable.

In [44]:
tweets_df['publish_date'] = pd.to_datetime(tweets_df['publish_date']) 
tweets_df['harvested_date'] = pd.to_datetime(tweets_df['harvested_date'])

**Aufgabe 3**: Setzen Sie `publish_date` als index.

In [16]:
tweets_df = tweets_df.set_index('publish_date')

**Aufgabe 4:** An welchem Tag hat der Autor mit den meisten Tweets seine meisten Tweets abgesendet?

In [22]:
tweets_df[tweets_df.author == 'EXQUOTE'].resample('D').size().sort_values(ascending=False)

publish_date
2015-07-14    537
2015-08-20    523
2015-07-11    509
2015-07-27    506
2015-08-27    501
2015-07-13    496
2015-07-15    495
2015-08-19    484
2015-08-17    483
2015-07-12    474
2015-08-25    473
2015-08-15    464
2015-08-28    461
2015-08-30    456
2015-08-24    447
2015-08-16    432
2015-08-29    416
2015-08-18    394
2015-07-10    387
2015-07-31    369
2015-07-09    350
2015-08-22    321
2015-07-25    318
2015-08-04    317
2015-08-05    301
2015-07-24    294
2015-07-30    286
2015-08-06    286
2015-08-31    284
2015-07-19    271
2015-07-18    262
2015-08-03    261
2015-07-29    256
2015-07-23    247
2015-07-16    196
2015-08-21    191
2015-07-26    181
2015-08-14    169
2015-07-28    144
2015-07-20    141
2015-08-23    139
2015-08-01    128
2015-08-07    101
2015-08-02     82
2015-08-12     26
2015-08-26     13
2015-08-09      0
2015-08-08      0
2015-08-13      0
2015-08-11      0
2015-07-22      0
2015-07-21      0
2015-07-17      0
2015-08-10      0
dtype: int64

**Aufgabe 5:** Erstellen Sie eine neue Spalte (`tweets_len`) in tweets_df in der Sie jeweils die Länge der tweets speichern. Benutzen Sie dafür eine List comprehension.

In [24]:
tweets_df['content_len'] = [len(i) for i in tweets_df.content]

**Aufgabe 6**: Berechnen Sie die durschnittliche Länge eines Tweets, die Standardabweichung sowie min und max für die Tweets des Autors mit den meisten Tweets.

In [29]:
tweets_df[tweets_df.author == 'EXQUOTE']['content_len'].agg(['mean', 'std', 'min', 'max'])

mean    134.391676
std       5.449159
min      69.000000
max     147.000000
Name: content_len, dtype: float64

**Aufgabe 7.1:** Speichern Sie alle Tweets des Autors 'EXQUOTE' in `tweets_df_EXQUOTE`.

In [47]:
tweets_df_EXQUOTE = tweets_df[tweets_df.author == 'EXQUOTE']

**Aufgabe 7.2:** Speichern Sie den content der Tweets in `tweets_content`.

In [66]:
tweets_content = tweets_df_EXQUOTE['content']

**Aufgabe 7.3:** Verwandeln Sie alle Buchstaben in tweets_content ind Kleinbuchstaben mittels einer list comprehension und weisen Sie diese Werte `tweets_clean` zu.

In [67]:
tweets_clean = [tweet.lower() for tweet in tweets_content]

**Aufgabe 7.4:** Joinen Sie alle Tweets in `tweets_clean` in einen string und weisen Sie diesen String der Variable `tweets_clean_all` zu.

In [68]:
tweets_clean_all = ' '.join(tweets_clean)

**Aufgabe 7.5:** Splitten Sie `tweets_clean_all` nach jedem Wort und wandeln Sie das Resultat in eine pd.Series() um. Weisen das Resultat der Variable `tweets_clean_all_s` zu.

In [71]:
tweets_clean_all_s = pd.Series(tweets_clean_all.split())

**Aufgabe 7.5:** Welche Worte verwendet der Author EXQUOTE am häufigsten? Verwenden Sie hierführ die `.value_counts()` Methode. Lassen Sie sich 30 häufigsten Begriffe ausgeben.

In [73]:
tweets_clean_all_s.value_counts().head(30)

workout     4336
i           1821
to          1741
a           1604
exercise    1359
the         1193
my           894
is           635
and          627
weight       575
in           556
you          549
for          495
good         477
this         461
that         452
me           452
lose         449
need         444
of           397
??           393
?            390
with         354
get          348
so           348
i'm          337
just         293
go           291
after        287
do           278
Name: count, dtype: int64