# Tag 2 - Übung 4

In [1]:
import pandas as pd

In [6]:
authors = pd.DataFrame({'author_id': [0,1,2,3],
                                   'author_name': ['Andreas Schmitz', 'Jan Delhey', 'Stefanie Börner', 'Philipp Pohlenz']})
authors

   author_id      author_name
0          0  Andreas Schmitz
1          1       Jan Delhey
2          2  Stefanie Börner
3          3  Philipp Pohlenz

In [12]:
authors_items = pd.DataFrame({'AUTHOR_ID': [0,0,1,1,2,4],
                              'item_title': ['Rethinking the Nation and International Relations: The Space of Nation States',
                                             'Viele Theorien, ein ,Theorizing‘? Eine Rekonstruktion des deutschen Feldes soziologischer Theorie',
                                             'Netzwerk Europa. Wie ein Kontinent durch Mobilität und Kommunikation zusammenwächst',
                                             'Diagnose Angstgesellschaft? Was wir wirklich über die Gefühlslage der Deutschen wissen',
                                             'Europasoziologie',
                                            'Familie und Familien in besonderen Lebenslagen im Kontext sozialen Wandels - soziologische Perspektiven']})
authors_items

   AUTHOR_ID                                         item_title
0          0  Rethinking the Nation and International Relati...
1          0  Viele Theorien, ein ,Theorizing‘? Eine Rekonst...
2          1  Netzwerk Europa. Wie ein Kontinent durch Mobil...
3          1  Diagnose Angstgesellschaft? Was wir wirklich ü...
4          2                                   Europasoziologie
5          4  Familie und Familien in besonderen Lebenslagen...

**Aufgabe 1:** Führen Sie einen inner-join der beiden Tabellen `authors` und `authors_items` durch. Was passiert? Wie viele verschiedene Autoren zählen Sie in der gejointen Tabelle?

In [13]:
pd.merge(authors, authors_items, how='inner', left_on='author_id', right_on='AUTHOR_ID')

,author_id,author_name,AUTHOR_ID,item_title
0,0,Andreas Schmitz,0,Rethinking the Nation and International Relati...
1,0,Andreas Schmitz,0,"Viele Theorien, ein ,Theorizing‘? Eine Rekonst..."
2,1,Jan Delhey,1,Netzwerk Europa. Wie ein Kontinent durch Mobil...
3,1,Jan Delhey,1,Diagnose Angstgesellschaft? Was wir wirklich ü...
4,2,Stefanie Börner,2,Europasoziologie

**Aufgabe 2:** Führen Sie einen outer-join der beiden Tabellen `authors` und `authors_items` durch. Was passiert? Wie viele verschiedene Autoren zählen Sie in der gejointen Tabelle?

In [14]:
pd.merge(authors, authors_items, how='outer', left_on='author_id', right_on='AUTHOR_ID')

,author_id,author_name,AUTHOR_ID,item_title
0,0.0,Andreas Schmitz,0.0,Rethinking the Nation and International Relati...
1,0.0,Andreas Schmitz,0.0,"Viele Theorien, ein ,Theorizing‘? Eine Rekonst..."
2,1.0,Jan Delhey,1.0,Netzwerk Europa. Wie ein Kontinent durch Mobil...
3,1.0,Jan Delhey,1.0,Diagnose Angstgesellschaft? Was wir wirklich ü...
4,2.0,Stefanie Börner,2.0,Europasoziologie
5,3.0,Philipp Pohlenz,NaN,NaN
6,NaN,NaN,4.0,Familie und Familien in besonderen Lebenslagen...

**Aufgabe 3:** Führen Sie einen left-join der beiden Tabellen `authors` und `authors_items` durch. Was passiert? Wie viele verschiedene Autoren zählen Sie in der gejointen Tabelle?

In [15]:
pd.merge(authors, authors_items, how='left', left_on='author_id', right_on='AUTHOR_ID')

,author_id,author_name,AUTHOR_ID,item_title
0,0,Andreas Schmitz,0.0,Rethinking the Nation and International Relati...
1,0,Andreas Schmitz,0.0,"Viele Theorien, ein ,Theorizing‘? Eine Rekonst..."
2,1,Jan Delhey,1.0,Netzwerk Europa. Wie ein Kontinent durch Mobil...
3,1,Jan Delhey,1.0,Diagnose Angstgesellschaft? Was wir wirklich ü...
4,2,Stefanie Börner,2.0,Europasoziologie
5,3,Philipp Pohlenz,NaN,NaN

**Aufgabe 4:** Führen Sie einen right-join der beiden Tabellen `authors` und `authors_items` durch. Was passiert? Wie viele verschiedene Autoren zählen Sie in der gejointen Tabelle?

In [16]:
pd.merge(authors, authors_items, how='right', left_on='author_id', right_on='AUTHOR_ID')

,author_id,author_name,AUTHOR_ID,item_title
0,0.0,Andreas Schmitz,0,Rethinking the Nation and International Relati...
1,0.0,Andreas Schmitz,0,"Viele Theorien, ein ,Theorizing‘? Eine Rekonst..."
2,1.0,Jan Delhey,1,Netzwerk Europa. Wie ein Kontinent durch Mobil...
3,1.0,Jan Delhey,1,Diagnose Angstgesellschaft? Was wir wirklich ü...
4,2.0,Stefanie Börner,2,Europasoziologie
5,NaN,NaN,4,Familie und Familien in besonderen Lebenslagen...